
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #ff7171;
    flex-wrap: wrap;
}
.navLink{
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
}

nav img{
    max-height: 3rem;
}
@media only screen and (max-width: 1200px) and (min-width: 900px)  {
    nav{
        gap: 0.75rem;
    }
    .navLink{
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
    }
    nav img{
        max-height: 3rem;
    }
}
@media only screen and (max-width: 900px)  {
    nav{
        gap: 0.75rem;
    }
    .navLink{
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
    }
    nav img{
        max-height: 3rem;
    }
}