
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: rgb(255,247,173);
    background: linear-gradient(90deg, rgba(255,247,173,1) 0%, rgba(222,157,210,1) 100%);
    overflow-x: hidden;
}
